<h2>{{ isEditMode ? 'Edit Employee' : 'Add Employee' }}</h2>
<form (ngSubmit)="submitForm()">
  <label for="isDisabled" *ngIf="employee">Active</label>
  <select *ngIf="employee" id="isDisabled" [(ngModel)]="employee.isDisabled" name="isDisabled" required>
    <option [ngValue]="true">Yes</option>
    <option [ngValue]="false">No</option>
  </select>
  <label for="firstName">First Name</label>
  <input id="firstName" [(ngModel)]="employee.firstName" name="firstName" required />

  <label for="lastName">Last Name</label>
  <input id="lastName" [(ngModel)]="employee.lastName" name="lastName" required />

  <label for="position">Position</label>
  <input id="position" [(ngModel)]="employee.position" name="position" required />

  <label for="cellPhoneNumber">Cell Phone</label>
  <input id="cellPhoneNumber" [(ngModel)]="employee.cellPhoneNumber" name="cellPhoneNumber" required />


  <label for="isManager" *ngIf="employee">Is Manager?</label>
  <select *ngIf="employee" id="isManager" [(ngModel)]="employee.isManager" name="isManager" required>
    <option [ngValue]="true">Yes</option>
    <option [ngValue]="false">No</option>
  </select>




  <label for="passwordHash">Password</label>
  <input id="passwordHash" type="password" [(ngModel)]="employee.passwordHash" name="passwordHash" required />

  <label for="username">Username</label>
  <input id="username" [(ngModel)]="employee.username" name="username" required />

  <button type="submit">Save</button>
  <button type="button" (click)="cancel()">Cancel</button>
</form>
